@model IEnumerable<ResearchersJournals.Web.Models.DocumentModels.ResearchersDocumentsDTO>

@{
    ViewData["Title"] = "Journals Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
  
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Journals Documents</h6>

    </div>
    <div class="card-body">
        <div class="row">
            <a class="btn btn-primary" href="@Url.Action("UploadDocument","Document")">
                <i class="fas fa-upload"></i>
                <span>Upload Document</span>
            </a>
        </div>
     <br/>
        <div class="table-responsive">

            <table id="documents" class="table table-bordered" width="100%" cellspacing="0">


                <thead>
                    <tr>
                        <th>
                            Upload by
                        </th>
                        <th>
                            File Name
                        </th>

                        <th>
                            Upload Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <partial name="_DocumentRow" model="item" />
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
 
<div id="pdfModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <div class="modal-body">
                <div id="documentRender"></div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/datatable.min.css" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/sweetalert/sweetalert.css" rel="stylesheet" />
@section scripts {
    <script src="~/js/datatables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/sweetalert/sweetalert.min.js"></script>

}

<script>
    $(document).ready(function () {
        $('#documents').DataTable();


    });
    function openPDF(documentId) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetDocument")',
            data: { documentId: documentId },
            success: function (data) {
                if (data.Success == false) {
                    sweetAlert("Oops...", data.Message, "error");
                } else {
                    $('#documentRender').html(data);
                    $('#pdfModal').modal('show');

                }
            }
        });
    }
</script>
